[Unit]
Description=nomnomlog
Documentation=https://github.com/shadowbq/nomnomlog
After=network-online.target

[Service]
ExecStartPre=/usr/bin/test -e /etc/nomnomlog-config.yml
ExecStart=/usr/local/bin/nomnomlog -D
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
